services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend/ai-frontend
    container_name: frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
